body {
    font-family: Arial;
    background-color: #f2f2f2;
}

form, div {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 5px;
}

input, textarea, select, button {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
}
